
/* OVERARCHING BODY STYLING */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: #263238;
  color: whitesmoke;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* HEADER STYLING */
.nav-header {
  text-align: center;
  background: linear-gradient(to right, #70ff56, #00ca00);
  width: 100%;
  color: blue;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.header-title {
  padding: 14px 16px;
}

.nav-list {
  display: inline-block;
  padding: 10px 10px;
}

.nav-link {
  text-decoration: none;
  color: blue;
  padding: 0 16px;
}

/* FOOTER  */
footer {
  background: linear-gradient(to right, #70ff56, #00ca00);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: blue;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

footer p {
  padding: 10px 0;
  margin: 0;
}

/* MAIN CONTENT STYLING */
.home-page {
  display: flex;
  align-items: center;
  justify-content: top;
  flex-direction: column;
  flex-wrap: wrap;
}

/* MATH CUBE IMAGE */
.cube-wrap {
	perspective: 800px;
  perspective-origin: 50% 200px;
}

.math-cube {
  margin-top: 100px;
  display: flex;
	position: relative;
	width: 200px;
  transform-style: preserve-3d;
}

.math-cube div {
	position: absolute;
	width: 200px;
  height: 200px;
}

.face {
  display: flex;
  outline: 3px solid blue;
  background: radial-gradient(#70ff56, #00ca00);
  color: blue;
  font-size: 100px;
  align-items: center;
  justify-content: center;
}

.back {
  transform: translateZ(-100px) rotateY(180deg);
}
.right {
	transform: rotateY(-270deg) translateX(100px);
	transform-origin: top right;
}
.left {
	transform: rotateY(270deg) translateX(-100px);
	transform-origin: center left;
}
.top {
	transform: rotateX(-90deg) translateY(-100px);
	transform-origin: top center;
}
.bottom {
	transform: rotateX(90deg) translateY(100px);
	transform-origin: bottom center;
}
.front {
	transform: translateZ(100px);
}

@keyframes spin {
	from { transform: rotateY(360deg); }
	to { transform: rotateY(0); }
}

.math-cube {
	animation: spin 10s infinite linear;
}

/* COMPONENT STYLING */
.see-main, .solve-main, .about-main {
  font-size: 16px;
  padding-top: 10px;
  padding-left: 10px;
  text-align: center;
}

button {
  background-color: #00ca00;
  min-width: 110px;
  padding: 4px 0;
  margin: 10px 4px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.see-work-space {
  padding-top: 20px;
  padding-left: 10px;
  font-size: 16px;
}
